/**
 * @name VHS
 * @author PomfQ
 * @version 1.0.0
 * @description Dull theme
 * @authorId 725560508371173377
 * @source https://github.com/earvx/BetterDiscord-extensions/tree/main/Themes/VHS
*/

@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css"); /*Credits goes to gibbu*/
@import url("https://earvx.github.io/BetterDiscord-extensions/Themes/VHS/VHS.theme.css");


:root{

    /*Home icon*/

    --home-icon: url('https://discord.com/assets/28132995b700031cd7e3.webp'); /*Applies only with discord nitro backgrounds*/
    --home-icon-size: auto;

    /*HorizontalServersList settings*/

    --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
    --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
    --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */

    /*Background*/
    --background-image : url('https://images3.alphacoders.com/996/996774.jpg');
    --button-background: linear-gradient(60deg, rgb(46, 102, 224), rgba(24, 26, 168, 0.973));
    --background-primary: rgba(24, 24, 24, 0.5) !important;
    --background-secondary: rgba(26, 26, 26, 0.507) !important;

    /*Font*/
    
    --font-display: var(--font-primary);
    --font-primary: gg sans;

    /*Status customizer*/

    --Online: rgb(73, 146, 255);
	--Do-not-disturb: rgb(255, 72, 72); 
	--Idle: rgb(255, 175, 4);

    /*Others*/

    --content: "Is typing...Something ?"
}
