/**
 * @name Recollection
 * @author Earie
 * @version 1.0.8
 * @description A simple discord theme.
 * @authorId 725560508371173377
 * @source https://github.com/earvx/BetterDiscord-extensions/tree/main/Themes/Recollection
*/

@import url(https://earvx.github.io/BetterDiscord-extensions/Themes/Recollection/Recollection.theme.css);

:root{
    
    /*Images,customizer*/

    --Icon-color: #fff065; /*applies only for icons*/
    --border-radius: 20px; /*Border radius applies for images and buttons.*/
    
    /*Background color customizer*/
    
    --background-mentioned-hover: var(--background-tertiary);
    --background-primary: linear-gradient(-60deg, rgb(34 34 34), rgb(10, 10, 10));
    --background-Secondry: linear-gradient(270deg, rgb(38, 38, 38), rgb(14, 14, 15));
    --button-background: linear-gradient(60deg, rgb(54, 54, 54), rgb(14, 14, 14));
    --background-tertiary: linear-gradient(-60deg, rgb(16 16 16), rgb(22 22 22));
    --border-color: #272727;
    --border-glow: 0 0 20px #2d9bdb00, 0 0 20px #1e63be00, 0 0 30px #00000000; /**Adjust the border colors when hover.**/

    /*Status customizer*/

    --Online: rgb(73, 173, 255);
	--Do-not-disturb: rgb(255, 72, 72); 
	--Idle: rgb(255, 175, 4);
    --Streaming: rgb(214, 92, 208);

    /*Font-customizer*/
    --font-display: var(--font-primary);
    --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.platform-win .standardSidebarView_c25c6d{
    top: 0px;
}

.wrapper_a7c28c, .title_d1da5f{
    background: linear-gradient(to right,#ff1d1d,#ff1eec, #fc22ea, #0f93ff, #00ffb3 , #00ff00, #fffb21, #e69706,#ff1111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.wrapper_a7c28c:hover{
    background-color: transparent;
}

.sidebar_c25c6d {
    width: 350px;
}

.interactive_f5eb4b{
    border-radius: 20px;
}

.platform-win .container_e40c16{
    background: var(--background-Secondry);
}

.closeIcon_c91bad{
    display: none;
}

.linkButton_c91bad{
    padding-right: 0px
}

.childWrapperNoHoverBg_f90abb{
    background: var(--button-background);
}

.closeButton_c91bad{
    margin: -8px;
    padding-right: 0px;
}

.peopleListItem_d51464:hover, .topPill_a0 .themed_a0.selected_a0.item_a0, .side_a0 .themed_a0.selected_a0.item_a0,.link_c91bad:hover, .containerDefault_f6f816:hover, .memberInner_a31c43:hover{
    background: var(--button-background);
    transition: 1s;
    border-radius: var(--border-radius);
}

.obscuredTextContentInner_a3d0f7, .scroller_d90b3d, .popout_f6639d{
    transition: 1s;
}

.reactionCount_ec6b19{
    display: none;
}

.reactionInner_ec6b19, .reactionInner_f61c73{
    padding: 0.125rem 0.80rem;
}

.link_d8bfb3:active{
    background: none;
    border-radius: 20px;
    border: none;
}

.modeSelected_d8bfb3 .link_d8bfb3, .modeSelected_d8bfb3:hover .link_d8bfb3 {
    background: none
}

.wrapper_d8bfb3:hover .link_d8bfb3 {
    background: none;
}

.barFill_c7a159, .container_cbd271, .theme-dark .rootWithShadow_f9a4c9, .theme-dark .footerSeparator_f9a4c9{
    background: var(--background-primary);
}

.scrollableContainer_d0696b{
    border-radius: var(--border-radius);
    background: var(--background-Secondry);
}

.radioBar_eb92a8:hover{
    background: var(--background-primary);
    transition: 1s;
}

.searchResultsWrap_c2b47d{
    background: var(--background-tertiary);
}

.reaction_ec6b19.reactionMe_ec6b19, .reaction_f61c73.reactionMe_f61c73{
    border-color: #6394ff;
    -webkit-animation: SHINE 1.5s ease-in-out infinite alternate;
    -moz-animation: SHINE 1.5s ease-in-out infinite alternate;
    animation: SHINE 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes SHINE {
    from {
      box-shadow: 0 0 1px #6394ffe0, 0 0 2px #6394ff, 0 0 1px #6394ff;
    }
    to {
      box-shadow: 0 0 10px #6394ffc7,0 0 17px #4dafff, 0 0 11px #6394ffb2;
    }
  }

.scroller_fea3ef{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.tabBarItem_b9fccc{
    transition: 1s;
}

.wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .newMessagesBar_cf58b5, .barBase_cf58b5{
    background: var(--button-background);
    color: rgb(255, 255, 255);
}

.imageWrapper__178ee{
    border-radius: var(--border-radius);
}

.mentioned_d5deea{
    background: var(--background-Secondry);
    border-radius: 20px;
    transition: 1s;
}

strong{
    background: linear-gradient(to right,#ff1d1d,#ff1eec, #fc22ea, #0f93ff, #00ffb3 , #00ff00, #fffb21, #e69706,#ff1111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

.bg_d4b6c5, .app_a01fb1{
    background-color: var(--background-primary);
}

.theme-dark .scroller_c47fa9{
    background-color: var(--background-Secondry);
}

.theme-dark .themed_fc4f04, .scroller_bf550a, .scrollerBase_eed6a8, .panels_a4d4d9, .container_fd6364, .searchBar_f0963d, .quickswitcher_f4e139, .connectContainer_e2a436, .connection_e2a436{
    border: 5px solid transparent;
    border: var(--border-color);
    border-style: solid;
    transition: box-shadow 0.3s ease-in-out;
}

.scrollerBase_eed6a8:hover, .theme-dark:hover .themed_fc4f04:hover, .scroller_bf550a:hover, .panels_a4d4d9:hover, .container_fd6364:hover, .searchBar_f0963d:hover, .quickswitcher_f4e139:hover, .connectContainer_e2a436:hover, .connection_e2a436:hover{
    box-shadow: var(--border-glow);
}

.quickswitcher_f4e139{
    background: var(--background-Secondry);
}

.scroller_f4e139{
    background: var(--background-Secondry);
    border: transparent;
}

.scroller_f4e139:hover{
    box-shadow: none;
}

.navButton_af5dbb{
    border-style: solid;    
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.562);
    border-color: rgba(0, 0, 0, 0);
}

.navList_af5dbb{
    display: flex;
    justify-content: center;
}

.theme-dark .container_ee69e0, .sidebar_a4d4d9{
    background-color: var(--side-bar-background);
}

.privateChannels_f0963d{
    background-color: var(--background-Secondry);
}

.contentWrapper_af5dbb, .inspector_c3120f{
    background-color: rgb(24, 24, 24);
}

.emojiItem_fbfedd.emojiItemSelected_fbfedd{
    background: rgba(0, 0, 0, 0);
}

.categorySection_a3bc57{
    transition: 0.5s;
}

.wrapper_e06857{
    background-color: rgba(10, 10, 10, 0.445);
}

.scroller_dcade6{
    background-color: rgba(19, 19, 19, 0.726);
}

.navButton_af5dbb{
    background-color: rgba(14, 14, 14, 0.61);
}

.members_cbd271{
    background: var(--background-primary);
}

.sidebarRegionScroller_c25c6d{
    background: var(--background-primary);
}

.theme-dark .themed_fc4f04{
    background: var(--background-Secondry);
}

.headerBar_d8354c{
    background: var(--background-Secondry) !important;
}

.circleIconButton_db6521.selected_db6521{
    background: var(--background-Secondry);
}

.theme-dark .panel_bf1a22 ,.theme-dark .container_b2ca13, .container_a6d69a{
    background: var(--background-primary);
}

.connectContainer_e2a436, .connection_e2a436{
    background: var(--background-primary);
}

.itemCard_f02fcf {
    background: var(--button-background);
}

.sidebar_c25c6d, .background_b69b77, .fieldList_b69b77, .member_cbd271{
    background: var(--background-tertiary);
}

.member_cbd271{
    background: none;
    transition: 1s;
}

.ownerIcon_a31c43, .icon_a31c43{
    color: var(--Icon-color);
}

.scroller_a3a4ce{
    background: var(--background-primary);
}

.lowerBadge_c5f96a, .channelInfo_f6f816{
    background-color: #ff3f3f;
    border-radius: 20px;
  -webkit-animation: shiny 1s ease-in-out infinite alternate;
  -moz-animation: shiny 1s ease-in-out infinite alternate;
  animation: shiny 1s ease-in-out infinite alternate;
}

@-webkit-keyframes shiny {
    from {
      box-shadow: 0 0 5px #ff6363, 0 0 10px #ff6565, 0 0 11px rgb(255, 67, 67),;
    }
    to {
      box-shadow: 0 0 20px #ff6868,  0 0 8px #ff6565, 0 0 10px rgb(255, 67, 67);
    }
    }

.unreadImportant_d8bfb3 , .item_c4cd66{
    background-color: #fff;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 9px #fff, 0 0 9px #fff, 0 0 9px #ffffff;
  }
  to {
    box-shadow: 0 0 15px #ffffff, 0 0 15px #ffffff, 0 0 15px #ffffff;
  }
}

.reactionCount_f61c73{
    display: none;
}

.lookFilled_dd4f85.colorBrand_dd4f85,.lookFilled_dd4f85.colorGreen_dd4f85,.lookFilled_dd4f85.colorGreen_dd4f85:hover{
    background: var(--button-background)
}



.markup_f8f345 a, .anchor_af404b, .topic_bf3bbb a, .content_ed23b8 a{
    background: linear-gradient(to right,#ff1d1d,#ff1eec, #fc22ea, #0f93ff, #00ffb3 , #00ff00, #fffb21, #e69706,#ff1111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

rect[fill='#23a55a'], svg[fill='#23a55a']{
   fill: var(--Online);
}

rect[fill='#f0b232'], svg[fill='#f0b232']{
    fill: var(--Idle);

}

rect[fill='#f23f43'], svg[fill='#f23f43'] {
    fill: var(--Do-not-disturb);
}

.username_f9f2ca{
    background: transparent;
    animation: glow 1s ease-in-out infinite alternate;
    transition: 1s;
        }
        @keyframes glow {
            from {
                text-shadow: 0px 0px 9px currentColor;
            }
            to {
                text-shadow: 0px 0px 0px currentColor;
            }
        }

.winButtonClose_a934d8[aria-label="Close"] {
            background-color: #ff5f56;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            display: inline-block;
            margin: 4px;
            color: transparent;
        }
        
.winButtonMinMax_a934d8[aria-label="Maximise"] 
        {
            background-color: #28c940;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            display: inline-block;
            margin: 4px;
            color: transparent;
        }
        
        
.winButtonMinMax_a934d8[aria-label="Minimise"]
        {
            background-color: #ffbd2e;
            border-radius: 50%;
            width: 12px;
            height: 12px;  
            display: inline-block;  
            margin: 4px;
            color: transparent;
        }
        
        
.winButton_a934d8 
        {
            cursor: pointer;
            box-shadow: 0 0 2px rgba(0,0,0,0.5);
        }        
