/**
 * @name Recollection
 * @author Marshal
 * @version 1.0.8
 * @description A simple discord theme.
 * @authorId 725560508371173377
 * @source https://github.com/MirxgeQ/BetterDiscord-extensions/tree/main/Themes/Recollection
*/

@import url(https://MirxgeQ.github.io/BetterDiscord-extensions/Themes/Recollection/Recollection.theme.css);

:root{
    
    /*Images,customizer*/

    --Icon-color: #fff065; /*applies only for icons*/
    --border-radius: 20px; /*Border radius applies for images and buttons.*/
    
    /*Background color customizer*/
    
    --background-mentioned-hover: var(--background-tertiary);
    --background-primary: linear-gradient(-60deg, rgb(34 34 34), rgb(10, 10, 10));
    --background-Secondry: linear-gradient(270deg, rgb(38, 38, 38), rgb(14, 14, 15));
    --button-background: linear-gradient(60deg, rgb(54, 54, 54), rgb(14, 14, 14));
    --background-tertiary: linear-gradient(-60deg, rgb(16 16 16), rgb(22 22 22));
    --border-color: #272727;
    --border-glow: 0 0 20px #2d9bdb, 0 0 20px #2a60a7, 0 0 30px #00000000; /**Adjust the border colors when hover.**/

    /*Status customizer*/

    --Online: rgb(73, 173, 255);
	--Do-not-disturb: rgb(255, 72, 72); 
	--Idle: rgb(255, 175, 4);
    --Streaming: rgb(214, 92, 208);

    /*Font-customizer*/
    --font-display: var(--font-primary);
    --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bd-addon-list .bd-addon-header, .bd-addon-list .bd-addon-card, .bd-store-card{
    background-color: var(--button-background) !important;
}

.platform-win .standardSidebarView__23e6b{
    top: 0px;
}

.wrapper_f61d60, .title_d1da5f{
    background: linear-gradient(to right,#ff1d1d,#ff1eec, #fc22ea, #0f93ff, #00ffb3 , #00ff00, #fffb21, #e69706,#ff1111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.wrapper_a7c28c:hover{
    background-color: transparent;
}

.sidebar__23e6b {
    width: 350px;
}

.interactive_bf202d{
    border-radius: 20px;
}

.platform-win .container_a2f514{
    background: var(--background-Secondry);
}

.closeIcon__972a0{
    display: none;
}

.linkButton__972a0{
    padding-right: 0px
}

.childWrapperNoHoverBg__6e9f8{
    background: var(--button-background);
}

.closeButton__972a0{
    margin: -8px;
    padding-right: 0px;
}

.peopleListItem_cc6179:hover, .topPill_b3f026 .themed_b3f026.selected_b3f026.item_b3f026, .side_b3f026 .themed_b3f026.selected_b3f026.item_b3f026,.link__972a0:hover, .containerDefault_c69b6d:hover, .memberInner__5d473:hover{
    background: var(--button-background);
    transition: 1s;
    border-radius: var(--border-radius);
}

.obscuredTextContentInner__54ab5, .scroller_c1e9c4, .popout__3f413{
    transition: 1s;
}

.reactionCount__23977{
    display: none;
}

.reactionInner__23977, .reactionInner_f8896c{
    padding: 0.125rem 0.80rem;
}

.link__2ea32:active{
    background: none;
    border-radius: 20px;
    border: none;
}

.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32:hover .link__2ea32 {
    background: none
}

.wrapper__2ea32:hover .link__2ea32 {
    background: none;
}

.barFill_a562c8, .container_c8ffbb, .theme-dark .rootWithShadow__49fc1, .theme-dark .footerSeparator__49fc1{
    background: var(--background-primary);
}

.scrollableContainer__74017{
    border-radius: var(--border-radius);
    background: var(--background-Secondry);
}

.radioBar__001a7:hover{
    background: var(--background-primary);
    transition: 1s;
}

.searchResultsWrap_a9e706, .expandedFolderBackground__48112{
    background: var(--background-tertiary);
}

.reaction__23977.reactionMe__23977, .reaction_f8896c.reactionMe_f8896c{
    border-color: #6394ff;
    -webkit-animation: SHINE 1.5s ease-in-out infinite alternate;
    -moz-animation: SHINE 1.5s ease-in-out infinite alternate;
    animation: SHINE 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes SHINE {
    from {
      box-shadow: 0 0 1px #6394ffe0, 0 0 2px #6394ff, 0 0 1px #6394ff;
    }
    to {
      box-shadow: 0 0 10px #6394ffc7,0 0 17px #4dafff, 0 0 11px #6394ffb2;
    }
  }

.scroller_ef3116{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.tabBarItem_b9fccc{
    transition: 1s;
}

.wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .lookFilled__201d5 , .newMessagesBar__0f481, .barBase__0f481{
    background: var(--button-background);
    color: rgb(255, 255, 255);
}

.imageWrapper__178ee{
    border-radius: var(--border-radius);
}

.mentioned__5126c{
    background: var(--background-Secondry);
    border-radius: 20px;
    transition: 1s;
}

strong{
    background: linear-gradient(to right,#ff1d1d,#ff1eec, #fc22ea, #0f93ff, #00ffb3 , #00ff00, #fffb21, #e69706,#ff1111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

.bg__960e4, .app__160d8{
    background-color: var(--background-primary);
}

.theme-dark .scroller__99e7c{
    background-color: var(--background-Secondry);
}

.theme-dark .themed__9293f, .scroller__7d20c, .scrollerBase__99f8c, .container_f37cb1, .searchBar__35e86, .quickswitcher_ac6cb0, .connectContainer_c7f964, .connection_c7f964, .scroller_cc2dff{
    border: 5px solid transparent;
    border: var(--border-color);
    border-style: solid;
    transition: box-shadow 0.3s ease-in-out;
}

.embedFull__623de{
    background: var(--background-primary);
}

.scrollerBase__99f8c:hover, .theme-dark:hover .themed__9293f:hover, .scroller__7d20c:hover, .panels_c48ade:hover, .container_f37cb1:hover, .searchBar__35e86:hover, .quickswitcher_ac6cb0:hover, .connectContainer_c7f964:hover, .connection_c7f964:hover, .scroller_cc2dff:hover{
    box-shadow: var(--border-glow);
}

.quickswitcher_ac6cb0{
    background: var(--background-Secondry);
}

.scroller_ac6cb0{
    background: var(--background-Secondry);
    border: transparent;
}

.scroller_ac6cb0:hover{
    box-shadow: none;
}

.navButton__08434{
    border-style: solid;    
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.562);
    border-color: rgba(0, 0, 0, 0);
}

.navList__08434{
    display: flex;
    justify-content: center;
}

.theme-dark .container__2637a, .sidebar_c48ade{
    background-color: var(--side-bar-background);
}

.privateChannels__35e86{
    background-color: var(--background-Secondry);
}

.contentWrapper__08434, .inspector_aeaaeb{
    background-color: rgb(24, 24, 24);
}

.emojiItem_fc7141.emojiItemSelected_fc7141{
    background: rgba(0, 0, 0, 0);
}

.categorySection_c656ac{
    transition: 0.5s;
}

.wrapper__14245{
    background-color: rgba(10, 10, 10, 0.445);
}

.scroller_affa7e{
    background-color: rgba(19, 19, 19, 0.726);
}

.navButton__08434{
    background-color: rgba(14, 14, 14, 0.61);
}

.members_c8ffbb{
    background: var(--background-primary);
}

.sidebarRegionScroller__23e6b{
    background: var(--background-primary);
}

.theme-dark .themed__9293f, .mainCard_f369db{
    background: var(--background-Secondry);
}

.headerBar__80679{
    background: var(--background-Secondry) !important;
}

.circleIconButton__5bc7e.selected__5bc7e, .container__551b0{
    background: var(--background-Secondry);
}

.theme-dark .panel__5dec7 ,.theme-dark .container__37e49, .container_f369db, .scroller_cc2dff, .themedBackground__74017, .button_e6e74f, .px__82f07.botTag__82f07{
    background: var(--background-primary);
}

.connectContainer_c7f964, .connection_c7f964{
    background: var(--background-primary);
}

.itemCard__7e549 {
    background: var(--button-background);
}

.sidebar__23e6b, .background__1fed1, .fieldList__1fed1, .member_c8ffbb, .theme-dark .sidebarContainer_a3a4ce{
    background: var(--background-tertiary);
}

.member_c8ffbb{
    background: none;
    transition: 1s;
}

.ownerIcon__5d473, .icon__5d473{
    color: var(--Icon-color);
}

.scroller_a3a4ce{
    background: var(--background-primary);
}

.lowerBadge_cc5dd2, .channelInfo_c69b6d{
    background-color: #ff3f3f;
    border-radius: 20px;
  -webkit-animation: shiny 1s ease-in-out infinite alternate;
  -moz-animation: shiny 1s ease-in-out infinite alternate;
  animation: shiny 1s ease-in-out infinite alternate;
}

@-webkit-keyframes shiny {
    from {
      box-shadow: 0 0 5px #ff6363, 0 0 10px #ff6565, 0 0 11px rgb(255, 67, 67),;
    }
    to {
      box-shadow: 0 0 20px #ff6868,  0 0 8px #ff6565, 0 0 10px rgb(255, 67, 67);
    }
    }

.unreadImportant__2ea32 , .item__58105{
    background-color: #fff;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 9px #fff, 0 0 9px #fff, 0 0 9px #ffffff;
  }
  to {
    box-shadow: 0 0 15px #ffffff, 0 0 15px #ffffff, 0 0 15px #ffffff;
  }
}

.reactionCount_f8896c{
    display: none;
}

.lookFilled__201d5.colorBrand__201d5,.lookFilled__201d5.colorGreen__201d5,.lookFilled__201d5.colorGreen__201d5:hover{
    background: var(--button-background)
}

.markup__75297 a, .anchor_edefb8, .topic__6ec1a a, .content__487be a, .title_b6c092{
    background: linear-gradient(to right,#ff1d1d,#ff1eec, #fc22ea, #0f93ff, #00ffb3 , #00ff00, #fffb21, #e69706,#ff1111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

rect[fill='#23a55a'], svg[fill='#23a55a']{
   fill: var(--Online);
}

rect[fill='#f0b232'], svg[fill='#f0b232']{
    fill: var(--Idle);
}

rect[fill='#f23f43'], svg[fill='#f23f43'] {
    fill: var(--Do-not-disturb);
}

.username_c19a55{
    background: transparent;
    animation: glow 1s ease-in-out infinite alternate;
    transition: 1s;
        }
        @keyframes glow {
            from {
                text-shadow: 0px 0px 9px currentColor;
            }
            to {
                text-shadow: 0px 0px 0px currentColor;
    }
}

.footer__214dc{
    background: transparent;
}

.panels_c48ade{
    border : transparent;
}
